@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");

h1,
h2 {
  margin: 0;
}

body {
  margin: 0;
  font-family: "Mukta", sans-serif;
  background: #ffefd6;
}

.headerContainer {
  background: #0e5e6f;
  text-align: center;
  color: #f2deba;
  padding: 20px;
  border-bottom-left-radius: 70%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #3a8891;
}

form fieldset {
  font-size: 30px;
  border: 3px solid #3a8891;
  padding: 40px 150px 50px 150px;
  border-top-left-radius: 30px;
  border-top-right-radius: 130px;
  border-bottom-right-radius: 40%;
  border-bottom-left-radius: 30px;
}

.formInputs {
  display: flex;
  align-items: center;
  gap: 15px;
}

.formInputs input {
  height: 30px;
  font-size: 15px;
  padding: 5px;
  border: inherit;
  color: #3a8891;
}

.formInputs button {
  height: 40px;
  padding: 10px 40px;
  background: #3a8891;
  border: inherit;
  color: #f2deba;
  font-weight: 600;
  font-size: 15px;
}

.formInputs button:hover {
  background: #0e5e6f;
  cursor: pointer;
  color: #ffefd6;
}

.listHeading {
  font-size: 2em;
  font-weight: 600;
  margin-top: 50px;
  color: #f2deba;
  background: #0e5e6f;
  padding: 50px 100px;
  border-top-right-radius: 60%;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 1%;
}
