@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");

h1,
h2 {
  margin: 0;
  text-shadow: 1px 1px 1px;
}

body {
  margin: 0;
  font-family: "Mukta", sans-serif;
  background: #ffefd6;
}

.headerContainer {
  background: #0e5e6f;
  text-align: center;
  color: #f2deba;
  padding: 20px;
  border-bottom-left-radius: 70%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #3a8891;
}

form fieldset {
  font-size: 30px;
  border: 3px solid #3a8891;
  padding: 40px 150px 50px 150px;
  border-top-left-radius: 30px;
  border-top-right-radius: 130px;
  border-bottom-right-radius: 40%;
  border-bottom-left-radius: 30px;
}

.formInputs {
  display: flex;
  align-items: center;
  gap: 15px;
}

.formInputs input {
  height: 30px;
  font-size: 15px;
  padding: 5px;
  border: inherit;
  color: #3a8891;
}

.submitBtn {
  height: 40px;
  padding: 10px 40px;
  border: inherit;
  background: #3a8891;
  color: #f2deba;
  font-weight: 600;
  font-size: 15px;
}

.submitBtn:hover {
  box-shadow: 0 0 5px #3a8891;
  cursor: pointer;
  color: #ffefd6;
}

.listHeading {
  font-size: 2em;
  font-weight: 600;
  margin-top: 50px;
  color: #f2deba;
  background: #0e5e6f;
  padding: 50px 100px;
  border-top-right-radius: 60%;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 1%;
  text-shadow: 1px 1px 1px;
}

.listOfAttendees {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.attendeeRow {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 0 20px;
  color: #3a8891;
  border: 2px solid #0e5d6f8f;
  border-radius: 5px;
  font-weight: 500;
  text-shadow: 1px 1px 1px;
}

.rowActions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.deleteBtn,
.editBtn {
  position: absolute;
  background: inherit;
  border: inherit;
  color: #0e5e6f;
  cursor: pointer;
}

.deleteBtn {
  right: 2%;
}

.editBtn {
  right: 4%;
}

.emailBox {
  position: absolute;
  right: 30%;
}

.message {
  color: rgba(255, 68, 0, 0.219);
  text-shadow: 1px 1px rgba(255, 0, 0, 0.26);
}

@media screen and (max-width: 1340px) {
  form fieldset {
    padding: 40px 100px 50px 100px;
  }
}

@media screen and (max-width: 1240px) {
  form fieldset {
    padding: 40px 50px 50px 50px;
  }
}

@media screen and (max-width: 1140px) {
  form fieldset {
    padding: 40px 250px 50px 250px;
  }

  .formInputs {
    flex-direction: column;
  }

  .formInputs input {
    height: 25px;
    width: 200%;
  }

  .listOfAttendees {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 740px) {
  form fieldset {
    padding: 40px 150px 50px 150px;
  }

  .formInputs input {
    width: 150%;
  }

  .editBtn {
    right: 6%;
  }
}

@media screen and (max-width: 540px) {
  form fieldset {
    padding: 40px 100px 50px 100px;
  }

  .formInputs input {
    width: 100%;
  }

  .editBtn {
    right: 8%;
  }

  .emailBox {
    position: absolute;
    right: 20%;
  }
}

@media screen and (max-width: 440px) {
  form fieldset {
    border: none;
    padding: 2px 100px 0 100px;
  }

  legend {
    text-align: center;
    font-size: 20px;
  }

  .formInputs input {
    width: 80%;
    font-size: 12px;
  }

  .attendeeRow {
    font-size: 14px;
  }
}
