@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");

h1,
h2 {
  margin: 0;
}

body {
  margin: 0;
  font-family: "Mukta", sans-serif;
  background: #ffefd6;
}

.HeaderContainer {
  background: #0e5e6f;
  text-align: center;
  color: #f2deba;
  padding: 20px;
}
